* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

h2 {
    font-size: 30px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to right, rgb(122, 241, 62), rgb(50,142,5));
}

.registro_css {
    display: flex;
    flex-direction: column;
    background: #fff;
    text-align: center;
    padding: 20px 25px;
    box-shadow: 0 5px 10px rgba(71,3,6,0.7);
    border-radius: 10px;
}

.registro_css .title {
    color: #252525;
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 30px;
}

.registro_css label {
    margin-bottom: 10px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    color: #242424;
}

.registro_css input {
    outline: none;
    border: none;
    border-radius: 8px;
    color: #363636;
    background-color: white;
    border-bottom: solid 1px rgb(64,177,7);
    padding: 10px;
    gap: 6px;
    font-size: 23px;
    margin-bottom: 15px;
    width: 100%;
}

.registro_css .link {
    color: #252525;
    margin-bottom: 15px;
}

.registro_css button {
    color: #fff;
    border: none;
    background: linear-gradient(to right, rgb(122, 241, 62), rgb(50,142,5));
    padding: 10px 15px;
    cursor: pointer;
    font-size: 20px;
    margin-top: 10px;
    border-radius: 5px;
    width: 100%;
}

.registro_css a {
    color: #fff;
    text-decoration: none;
}