.btn_cards {
    display: flex;
    justify-content: space-between;
}

.btns_card {
    width: 60px;
}

.img_card {
    width: 223px;
    height: 220px;
}

.cont_card {
    display: flex;
    gap: 20px;
}
