
.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1030;
    background-color: #f8f9fa;
  }
  
  
  .navbar .container {
    max-width: 100%;
  }
  
  .navbar .nav-link {
    color: #000;
  }
  
  .navbar .navbar-brand {
    color: #000;
  }
  
 
  .navbar .dropdown-menu {
    background-color: #f8f9fa; 
  }
  
  .navbar .dropdown-item {
    color: #000; 
  }
  
  .navbar .dropdown-item:hover {
    background-color: #e2e6ea;
  }
  
  .navbar .navbar-toggler {
    border: none;
  }
  
  .navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  
  
  .navbar-collapse {
    flex-grow: 1;
    justify-content: flex-end;
  }

  .btns_nav {
    background-color: white;
  }
  
  
  body {
    padding-top: 56px;
  }
  
  .addfomr {
    border: none;
  }