
.carousel-item img {
    max-height: 300px;
    max-width: 900px;
    padding-top: 20px;
    object-fit: contain; /* Esto asegurará que la imagen se ajuste dentro del contenedor sin recortarse */
    margin: 0 auto; /* Centra la imagen horizontalmente */
  }
  
  .title-carousel{
    color: aliceblue;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .title-carrusel {
    color: aliceblue;
  }